{% extends "base.html" %}{% load staticfiles %}
{% block title %} - Web Template Builder{% endblock %}
{% block content %}
<script>
/*
$(function(){
$('#prosessingModal').modal({
        backdrop: 'static',
        keyboard: false,
        show: true
    });
});*/

function doSubmit(){
    
    $('#prosessingModal').modal({
        backdrop: 'static',
        keyboard: false,
        show: true
    });
    
    return true;
}

</script>
  <div id="wsync" class="narrow">
    <form action="" method="post">
      {% csrf_token %}
      <p>
        {{ form.instance.errors }}
        <label>{{ form.instance.label }}</label>
        {{ form.instance }}
        <span class="hint"></span>
      </p>
      <p>
        {{ form.site_url.errors }}
        <label>{{ form.site_url.label }}</label>
        {{ form.site_url }}
      </p>
      <span class="hint"></span>
      
      {{ form.non_field_errors }}

      <input type="submit" class="btn btn-primary" onclick="return doSubmit()" value="Submit" tabindex="3"/>
      <a href="/" class="btn" tabindex="4">Cancel</a>
    </form>
  </div>
  
  <div class="modal hide fade" id="prosessingModal">
      <div class="modal-header">
        <a class="close" data-dismiss="modal"></a>
        <h3>Prosessing ....</h3>
      </div>
      <div class="modal-body">
        <p style="float:left"><img src="{% static 'img/inProgress.gif' %}" style="width:60px; height:60px"/></p>
        <p></p>
        <p>Downloading web page template from the web site. 
        <p>Please wait a moment.</p>
      </div>
    </div>
{% endblock %}
